FQDN = chacree.shared
ORGNAME = Keasoft
COUNTRY = IT
ALTNAMES = DNS:$FQDN   # , DNS:bar.example.org , DNS:www.foo.example.org

[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext
extendedKeyUsage=serverAuth

[ dn ]
C = $COUNTRY
O = $ORGNAME
CN = $FQDN

[ req_ext ]
subjectAltName = $ALTNAMES
